/* Establece reglas para todos los elementos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', Regular 400;
}

.navbar-brand span {
    font-size: 44px;
    line-height: 1.5;
    position: relative;
    top: 10px;
}

body {
    background-color: #030303;
    /* Establece el color de fondo del cuerpo */
    min-height: 200vh;
    /* Establece la altura mínima del cuerpo al 200% de la altura de la ventana (viewport) */
}

header {

    position: fixed;
    /* Establece la posición fija para que el encabezado se mantenga en la parte superior de la ventana */
    top: 0;
    /* Establece la parte superior del encabezado en la parte superior de la ventana */
    left: 0;
    /* Establece la parte izquierda del encabezado en la parte izquierda de la ventana */
    width: 100%;
    /* Establece el ancho del encabezado al 100% del ancho de la ventana */
    display: flex;
    /* Utiliza el modelo de caja flexible para el encabezado */
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos en el encabezado */
    align-items: center;
    /* Centra verticalmente los elementos en el encabezado */
    transition: 1s;
    /* Agrega una transición suave para cambios en el encabezado */
    background-color: #ffffff;
    /* Establece el color de fondo del encabezado */
    padding: 0px 50px;
    z-index: 100000;
}

.btn-primary {
    background-color: #761a8d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.3, 0.3);
    /* Agrega una sombra suave */

    outline: auto;
}

.btn-primary:hover {
    background-color: #2e0a37;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
}

header.sticky {
    padding: 0px 0px;
    background: #521262;
}

header.sticky .logo {
    display: none;
    padding: 0px 10px;
    background: #030303;
}

header.sticky .botonmorado {
    color: #ffffff;
    font-size: 15px;
}

header.sticky span {
    color: #ffffff;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    top: 0px;
    padding: 0px 50px;

}

header.sticky ul li a {
    padding: 10px 15px;
    font-size: 13px;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.5s;
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
    background-size: cover;

}

.d-flex {
    position: relative;
    width: 100%;
    height: 100vh;
    color: green;

}

.row {

    border-radius: 5px;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 85%;
    margin: 0px;
    padding: 0px;
}

.row p {
    text-align: center;

    color: white;
    margin-top: 50px;
    font-size: 2.3vh;
    padding-left: 30px;
    padding-right: 30px;
}

.rowtitulo h2 {
    text-align: center;
    color: #B17A50;
    font-size: 6.5vh;
}

.col-sm {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: rebeccapurple;
}

.rowabajo {
    color: white;
}

.columnsmarcas {
    padding: 0px;
}

.row1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagen2 {
    padding-top: 10px;
    height: auto;
    max-height: 800px;
    max-width: 100%;
}

.botoneslogo {
    padding: 20px 30px;
    font-size: 29px;
}

.botonapple {
    text-align: center;
    padding-right: 50px;
}

.jumbotron {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.contenedor2 {
    margin: 30px;
    height: 99vh;
    width: auto;
    background-color: black;
}

.rowinicio {
    height: 100%;
}

.fondoimagen3 {
    max-width: 43%;
    border-radius: 20px;
    height: 50%;
    margin-left: 30px;
    padding: 0%;
    text-align: start;
    background-color: #761a8d;

}

.imagen3 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    border-radius: 20px;
    height: 98%;
    max-height: 100%;
    max-width: 100%;
}